body {
    font-family: Roboto;
    margin: 0;
}

.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 10px 12.5%;
}

.top {
    background-color: #1F2937;
    display: flex;
    padding: 50px 12.5%;
    justify-content: space-between;
    gap: 12px;
}

.left {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.img-container {
    flex: 1;
    width: 50%;
}

img {
    width: 100%;
    height: auto
}

.header .title {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

li, .subhero {
    font-size: 18px;
    color: #E5E7EB

}

.hero {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.subhero {
    margin: 18px 0;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    width: 120px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #F9FAF8;
    color: #1F2937;
}

.main {
    text-align: center;

}

.product-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 40px 0;
}

.container {
    display: flex;
    justify-content: center;
    gap: 28px;
    margin: 0 0 100px 0;
}

.product img {
    border: 2px solid;
    border-color: #3882F6;
    border-radius: 12px;
    padding: 8px;
    height: 180px;
    width: 180px;
}

.inspirational {
    background-color: #E5E7EB;
    text-align: center;
    padding: 70px 12.5%;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    padding: 12px;
}

.author {
    text-align: right;
    font-weight: bold;
    margin: 0 120px;
}

.bottom {
    color: #F9FAF8;
    padding: 40px;
    margin: 80px 25%;
    display: flex;
    background-color: #3882F6;
    border-radius: 5px;
    justify-content: center;
    gap: 80px;
}

.bottom .text {
    font-weight: bold;
    font-size: 20px;
}
.bottom button {
    border: 1px solid white;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 24px;
}