body {
    font-family: Roboto;

}

.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 10px 12.5%;
}

.top {
    background-color: #1F2937;
    display: flex;
    padding: 50px 12.5%;
    justify-content: space-between;
    gap: 12px;
}

.left {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.img-container {
    flex: 1;
    width: 50%;
}

img {
    width: 100%;
    height: auto
}

.header .title {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

li, .subhero {
    font-size: 18px;
    color: #E5E7EB

}

.hero {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.subhero {
    margin: 18px 0;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    width: 120px;  
}